<section class="hero is-primary is-small">
    <div class="hero-body">
        <div class="container has-text-centered">
            <figure class="image is-96x96 is-centered">
                <img class="is-rounded" src="https://raw.githubusercontent.com/shakedzy/techbyai/gh-pages/images/byai_150.png">
            </figure><br>
            <p class="title is-1">
                {{site.title}}
            </p>
            <p class="subtitle is-4">
                <em>{{ site.data.header.message }}</em>
            </p>
        </div>
    </div>
</section>
